 
 <script>
     
       	function btn_is_alert(){
      	  /* alert(문자열) */
      	  alert("메뉴판이 성공적으로 추가되었습니다.");
      	  location.href='/festival/index';
      	}



 </script>
 <h1>메뉴를 작성해주세요!</h1>
  <h3>현재 추가된 메뉴 목록</h3>
  <table class="table">
     <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>메뉴 이름 </th>
      <th>가격</th>
    </tr>
  </thead>
  <tbody>
      
   
      <% @menus.each do |x| %>
          <tr>
              <th scope="row"><%=x.id%></th>
              <td><%=x.menu_name%></td>
              <td><%=x.menu_price%></td>
          </tr>
      <% end %>
      
    </tbody>
  </table>
  <form class="form-block" action="/menucreate" method="POST">
  
<br>  
  <div class="form-group">
    <label for="formGroupExampleInput">메뉴 이름</label>
    <input type="text" class="form-control" id="formGroupExampleInput" name="menu_name" required>
  </div>
<br>
  <div class="form-group">
    <label for="formGroupExampleInput">가격</label>
    <input type="number" class="form-control" id="formGroupExampleInput"  placeholder="ex)2000원이면 2000 입력"name="menu_price" required>
  </div>
<br>
   
   <input type="hidden" value="<%=params[:univ_id]%>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="univ_id"> <!-- 대학 id 설정-->
   <input type="hidden" value="<%=params[:club_id]%>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="club_id"> <!-- 동아리 id 설정-->
   
   
  <button type="submit" class="btn btn-primary">메뉴 추가</button> 
    <input type="button" name="btn_js_confirm" id="btn_js_confirm" onclick="btn_is_alert();" value="제출"><br> <!-- 메뉴 추가를 다했다면 완료-->
  </form>